{% extends "Webapp/base.html" %}

{% block content %}
    {% if validlink %}
        <p>Veuillez entrez votre nouveau de mot de passe.</p>
        <form action="" method="post">
        {% csrf_token %}
            {{ form.new_password2.errors }}
            {{ form.new_password1.errors }}
            
            <p>Nouveau mot de passe:</p>
            <p>{{ form.new_password1 }}</p>
                      
            <p>Confirmer mot de passe:</p>
            <p>{{ form.new_password2 }}</p>
            <input class="btn btn-primary" type="submit" value="Confirmer">
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}