{% extends 'Webapp/base.html' %}

{% block content %}

<div class="row centered">
    <div class="col-12 centered follow_block">
        <h2>Abonnements :</h2>
        {% for people in follows %}
            <p>
                {{ people.followed_user.username }}
                <a href="#" class="btn btn-danger">Désabonner</a>
            </p>
        {% endfor %}
    </div>

    <div class="col-12 centered follow_block">
        <h2>Abonnés :</h2>
        {% for people in followed %}
            <p>{{ people.user.username }}</p>
        {% endfor %}
    
    </div>
</div>


{% endblock %}