{% extends 'Webapp/base.html' %}

{% block content %}

<div class="row centered">
    <div class="col-12 centered follow_block">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}

            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

            {% if request.method == "POST" %}
            <input type="text" name="username" placeholder="Nom d'utilisateur">
            {% else %}
            <input type="text" name="username" value="{{ request.POST.username }}">
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Envoyer">
        </form>
    </div>

    <div class="col-12 centered follow_block">
        <h2>Abonnements :</h2>
        {% for people in follows %}
        <div class="row border">
            <div class="col-11 follow_nick">
                {{ people.followed_user.username }}
            </div>
            <div class="col-1">
                <a href="{% url 'follow-delete' people.id %}" class="btn btn-danger">Désabonner</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-12 centered follow_block">
        <h2>Abonnés :</h2>
        {% for people in followed %}
        <p>{{ people.user.username }}</p>
        {% endfor %}

    </div>
</div>



{% endblock %}