{% extends 'Webapp/base.html' %}

{% block content %}

<div class="row centered">
    <h2>Créer un ticket</h2>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ ticket_form.errors }}</p>

        <p>Titre :</p>
        <p>{{ ticket_form.title }}</p>
        
        <p>Description :</p>
        <p>{{ ticket_form.description }}</p>
        
        <p>Image :</p>
        <p>{{ ticket_form.image }}</p>
        
        <input class="btn btn-primary" type="submit" value="Envoyer">
    </form>
</div>

{% endblock %}