<div class="row">
    <div class="container post">
        <div class="centered">
            {% if review.user == request.user %}
                <p>Vous avez publié une critique</p>
            {% else %}
                <p>{{ review.user }} a publié une critique</p>
            {% endif %}
            <div class="row">
                {% if review.rating == 0 %}
                <div class="col">{{ review.headline }} - ☆☆☆☆☆</div>
                {% elif review.rating == 1 %}
                <div class="col">{{ review.headline }} - ★☆☆☆☆</div>
                {% elif review.rating == 2 %}
                <div class="col">{{ review.headline }} - ★★☆☆☆</div>
                {% elif review.rating == 3 %}
                <div class="col">{{ review.headline }} - ★★★☆☆</div>
                {% elif review.rating == 4 %}
                <div class="col">{{ review.headline }} - ★★★★☆</div>
                {% elif review.rating == 5 %}
                <div class="col">{{ review.headline }} - ★★★★★</div>
                {% endif %}
                <div class="col">{{ review.time_created }}</div>
            </div>

            <div class="row">{{ review.body }}</div>

            <div class="container post review_ticket">
                <div class="centered">
                    {% if review.ticket.user == request.user %}
                        <p>Vous avez publié un ticket</p>
                    {% else %}
                        <p>{{ review.ticket.user }} a publié un ticket</p>
                    {% endif %}
                        <p>
                        {{ review.ticket.title }}
                        {{ review.ticket.time_created }}
                    </p>

                    <p>{{ review.ticket.description }}</p>
                    {% if review.ticket.image %}
                        <p><img src="{{ review.ticket.image.url }}" alt="{{ review.ticket.title }}"></p>
                    {% endif %}
                </div>        
            </div>

            <p>
                {% if request.user == review.user %}
                <a href="{% url 'review-change' review.id %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'review-delete' review.id %}" class="btn btn-primary">Supprimer</a>
                {% endif %}
            </p>
        </div>        
    </div>
</div>
