.container {
    margin-top: 2rem;
    display: flex;
}
.login-row {
    margin-left: 10%;
}
.centered {
    margin: auto
}
.centered form {
    margin-top: 2rem;
}
.row {
    justify-content: space-evenly;
}
nav {
    background-color: #e3f2fd;
}
.feed-btn {
    justify-content: space-between;
}
.ticket {
    border: solid;
    width: 60%;
    margin-bottom: 2rem;
}